.slide1,
.slide2,
.slide3,
.slide4 {
    display: none;
}

.slider-container {
    background-color: #252525;
    border-radius: 1em;
    padding: 2em;
    border: 0.2em solid black;
    max-width: 80%;
    margin: 0 auto;
}

.slider {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.images {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1em;
}

input {
    display: none;
}

.bottom-container {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 3em;
    align-items: center;
}

.pagination {
    display: flex;
    align-items: center;
}

label {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    background-color: #252525;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 0.2em;
    transition: background-color 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
}

.btn-span {
    display: block;
    width: 0.7em;
    height: 0.7em;
    background-color: #44abab;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

label:hover .btn-span {
    background-color: #cad3d3;
}

/* Изменение цвета активной кнопки */
#slide1:checked~.slider .bottom-container .pagination label[for="slide1"] .btn-span,
#slide2:checked~.slider .bottom-container .pagination label[for="slide2"] .btn-span,
#slide3:checked~.slider .bottom-container .pagination label[for="slide3"] .btn-span,
#slide4:checked~.slider .bottom-container .pagination label[for="slide4"] .btn-span {
    background-color: #252525;
    border: 0.06em solid #44abab;
}

/* Измемнение цвета активной кнопки при наведении */
#slide1:checked~.slider .bottom-container .pagination label[for="slide1"]:hover .btn-span,
#slide2:checked~.slider .bottom-container .pagination label[for="slide2"]:hover .btn-span,
#slide3:checked~.slider .bottom-container .pagination label[for="slide3"]:hover .btn-span,
#slide4:checked~.slider .bottom-container .pagination label[for="slide4"]:hover .btn-span {
    background-color: #252525;
    border: 0.06em solid #cad3d3;
}

.slider-container #slide1:checked~.slider .slide1,
.slider-container #slide2:checked~.slider .slide2,
.slider-container #slide3:checked~.slider .slide3,
.slider-container #slide4:checked~.slider .slide4 {
    display: flex;
    animation: 0.5s ease-in-out slide-animation;
}

.text-slide {
    max-width: 80%;
}

.text-slide span {
    text-align: start;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 660px) {
    .bottom-container {
        flex-direction: column;
        align-items: center;
    }

    .text-slide {
        margin-top: 1em;
        max-width: 100%;
        align-self: start;
    }
}

@keyframes slide-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}